.form-main-wrapper {
  position: relative;
  height: 50vh;
  padding-bottom: 20px;
}
.form-wrapper {
  /* width:20%;
    margin: 0 auto; */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.form-title {
  font-size: 1.5rem;
  padding: 20px 0px;
}
.form-row {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.form-row label {
  flex: 1;
}
.form-row input {
  flex: 2;
  /* outline:none; */
  padding: 2px;
}
.button-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.button-wrapper button {
  width: 50%;
  padding: 5px;
  background: #141c4e;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.error-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.error-row label.dummylabel {
  flex: 1;
}
.error-row .error {
  color: #ff0000;
  font-size: 11px;
  display: block;
  margin: -8px 0px 5px 0px;
  flex: 2;
}
