.main-header {
  /* width: 30px; */
  height: 80px;
  line-height: 80px;
  background-color: #121c4e;
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  height: 35px;
  line-height: 35px;
  background: #ffffff;
  color: #0241ff;
  border-bottom: 1px solid #0241ff;
  font-size: 14px;
}

.nav-bar ul li {
  float: right;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.nav-bar ul li:hover:not(.active) {
  background: #688cfb;
  color: #ffffff;
}

li.active {
  background: #0241ff;
  cursor: default !important;
  color: #fff;
}
