.main-header {
  /* width: 30px; */
  height: 80px;
  line-height: 80px;
  background-color: #121c4e;
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
  background: #6f6a6a;
  color: #fff;
}

.nav-bar ul li {
  float: right;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.nav-bar ul li:hover:not(.active) {
  background: #363333;
}

li.active {
  cursor: default;
  background: #1b6e1b;
}
