button.primary {
  padding: 5px 10px;
  background: #5856d6;
  color: #ffffff;
  font-size: 0.75rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
button.danger {
  padding: 5px 10px;
  background: #e55353;
  color: #ffffff;
  font-size: 0.75rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
